<div class="row">
  <div class="header">
    <h1>Search Titles</h1>
    <div>
      <input [(ngModel)]="searchText" (keyup.enter)="search()" type="text" />
      <button type="submit" (click)="search()">Search</button>
    </div>
  </div>

</div>
<hr>
<div class="row" *ngFor="let result of searchResults$ | async">
  <ng-container [ngSwitch]="result.type">
    <img *ngSwitchCase="'giphy'" src="{{result.url}}" />
    <a *ngSwitchCase="'wikipedia'" href="{{result.url}}">{{result.title}}</a>
  </ng-container>
</div>